<ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdownCadastros" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">Cadastros</a>
    <div class="dropdown-menu" aria-labelledby="dropdownCadastros">
      <a class="dropdown-item" [routerLink]="['/vans']">Vans</a>
      <a class="dropdown-item" [routerLink]="['/responsaveis']">Responsáveis</a>
      <a class="dropdown-item" [routerLink]="['/passageiros']">Passageiros</a>
      <a class="dropdown-item" [routerLink]="['/usuarios']">Usuários</a>
      <a class="dropdown-item" [routerLink]="['/perfis']">Perfis</a>
    </div>
  </li>
</ul>
